@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900");

.header {
  background: #ffffff;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  border-bottom: 1px solid #e4e8f7;
  .contact {
    display: flex;
  }
  .dubs {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #676f8f;
    display: block;
  }
  .number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6f7dff;
    margin-left: 15px;
    display: block;
  }
  .call__number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6f7dff;
    margin-left: 15px;
    display: none;
  }
}

@media (max-width: 820px) {
  .header {
    height: 50px;
    display: flex;
    padding: 0 5% 0 5%;
    .dubs {
      display: none;
    }
    .number {
      display: none;
    }
    .call__number {
      display: block;
    }
  }
}
